// Mobile first
$breakpoint-up-sm: '576px';
$breakpoint-up-md: '768px';
$breakpoint-up-lg: '992px';
$breakpoint-up-xl: '1200px';

//
$breakpoint-down-xs: '575.98px';
$breakpoint-down-sm: '767px';
$breakpoint-down-md: '991px';
$breakpoint-down-lg: '1998.98px';
